body, html {
  height: 100%;
}

p {
    font-size: 40px;
    overflow-y: auto;
    height: 100%;
}

.container-fluid {
    height: 100%;
    padding: 0;
}

.fullBackgroundimage {
    background-image: url("../images/monkeesWide.jpg");
    height: 100%;
    background-position: 67% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    min-width: 100%;
}

.logoImage {
    position: absolute;
    bottom: 15%;
    right: 5%;
    width: 80%;
    transform: rotate(-25deg);
    z-index: 1;
}

.headerNavBar {
    margin: 0;
    height: 15%;
    text-align: center;
    color: #e80815;
    font-family: 'Poppins', sans-serif;
    font-size: 4.5vw;
    font-weight: bold;
    /*border: 2px solid blue;*/
}

.nav-element {
   color: #e80815; 
}

.sectionContainer {
    height: 70%;
    margin: 0;
    overflow-y: auto;
    /*border: 2px dotted purple;*/
}

.sectionRow {
    border: 2px solid green;
    width: 80%;
    /*overflow-y: auto;*/
    /*height: 50%;*/
}

.memberGrid {
    /*overflow-y: auto;*/
    /*height: 100%;*/
    border:2px solid blue;
}


.footerSocials {
    height: 15%;
    margin: 0;
/*    border: 2px solid red; */
    text-align: right;
}

.socialIcons {
    color: #D3D3D3;
    font-size: 5vh;
    /*border: 3px solid green;*/
    padding-right:3vw;
}

.fa-facebook, .fa-twitter, .fa-instagram {
    color: #D3D3D3;
    padding-right: 15px;

}

@media (min-width: 1200px), (min-aspect-ratio: 1/1) {

    .logoImage {
        position: absolute;
        top: 30%;
        left: 2%;
        width: 38%;
        transform: rotate(-30deg);
    }
    
    .headerNavBar {
        padding-top: 1.5vh;
        font-size: 5vh;
    }
    
    .socialIcons {
        color: #D3D3D3;
        font-size: 7vh;
        padding-right: 5vw;
    }
}











/*
.nav-link {
    color: #8D3F33;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
*/